<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
</head>
<body>
    
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                <!-- left side -->
                <div class="col-md-6 col-12 main_header_right align-items-center" >
                    <figure>
                        <img src="images/girl.png" alt="Shobha" class="img-fluid" title="Shobha developer">
                    </figure>
                </div>

                <!-- right side -->
                <div class="col-md-6 col-12 main_header_left" >
                    <p>Welcome to my world!!</p>
                    <h1>I am a <span> Web Developer </span> and a student of NIT Kurukshetra</h1>
                    <a href="https://github.com/shobha9250" target="_shobha"><button>My Github</button></a>
                </div>
                
                
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>